*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Website Colors*/
:root{
    --primary: #a47343;
    --seconday: #3B2C25;
    --tertiary: #C38154;
    --quad: #B8621B;
}

/* Body style */
body{
    display: grid;
/* number of rows */
    grid-template-rows: auto minmax(100%, 100dvh) auto;
    background-color: var(--primary);
    font-family: "Frank Ruhl Libre, Roboto Condensed, Roboto, sans-serif";
    color: white;
}

/* Logo style */
img[alt='logo'] {
    aspect-ratio: 1 / 1;
    width: 100px;
}

/* Navbar Style */
.navbar{
    background-color: var(--seconday);
}

/* nav-links */
.nav-link {
    color: whitesmoke;
    
    &:hover {
        color: var(--tertiary); 
    }

    &:active{
        color: var(--quad);
    }
}

/* landing */
.landing {
    height: auto;
    background-image: url(https://achar1f.github.io/projectimages/kafenioimages/bg-5.png);
    background-repeat: none;
    background-size: cover;
    background-position:center;
    filter: brightness(50%);
}

/* Landing Title */
.landing-title {
    margin-top: 170px;
    font-weight: 900;
    font-style: italic;
}

.orderButton {
    
}

/* Text-alignmen */
:is(h1,footer p) {
    text-align: center;
}

footer{
    border-top:1px #1A120B solid;
}

/* Social Icons */
.bi {
    color: var(--seconday);
    align-self: center;
    padding: 20px;
}
a {
    text-decoration: none;
}